*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Papyrus, fantasy;
}

body, html {
    height: 100%;
}

.hero-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.7);
    font-size: 60px;
    font-family: Papyrus, fantasy;
}

.vertical-menu a {
    background-image: 
        linear-gradient(to right, 
                              rgba(0, 0, 0, 1), 
                              rgb(46, 37, 55), 
                              rgba(0, 0, 0, 1));
    color: darkgoldenrod;
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    transition: transform 0.3s ease;
}

.vertical-menu a:hover {
    transform: scale(1.2);
    color: rgba(255, 255, 255, 1);
}

.ingredients {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.pizza-div {
    background-image: 
        linear-gradient(to right, 
        rgba(132, 129, 129, 1) 0%,        /* Gray */
        rgba(97, 3, 3, 1) 10%,            /* Fade to red */
        rgba(0, 0, 0, 1) 40%,
        rgba(0, 0, 0, 1) 60%,            /* Fade to black (center) */
        rgba(97, 3, 3, 1) 90%,            /* Fade back to red */
        rgba(132, 129, 129, 1) 100%);
    border-top: 3px solid black;
}

.mule-div {
    background-image: 
        linear-gradient(to right, 
        rgba(111, 60, 9, 1) 0%,
        rgba(51, 51, 51, 1) 10%,
        rgba(0, 0, 0, 1) 40%,
        rgba(0, 0, 0, 1) 60%, 
        rgba(51, 51, 51, 1) 90%, 
        rgba(111, 60, 9, 1) 100%);
}

.ingredients-header {
    padding: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.menu-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.menu-link:hover {
    color: darkgoldenrod;
}

.home-button {
    background-color: rgb(46, 37, 55);
    color: darkgoldenrod;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.home-button:hover {
    color: rgba(255, 255, 255, 1);
}